body{
  background :rgb(254, 247, 226);
}

a{
   color: firebrick !important;
}

pre{
    background :rgb(254, 247, 226);
    font-size : 100%;
    min-height: 46px;
}

h1{
   color: firebrick !important;
}

h3, p{
  color: DimGray;
}


